In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data1=pd.read_csv('play_tennis.csv')

In [7]:
data1.groupby('outlook')

In [13]:
data1.groupby('humidity').count()

          day  outlook  temp  wind  play
humidity
High        7        7     7     7     7
Normal      7        7     7     7     7